<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{else match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preload" as="style" href="{{asset "built/index.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/index.css"}}" />

    {{ghost_head}}

</head>
<body class="{{body_class}}">
    <div class="viewport">
        <div class="header">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}">
            {{else}}
                <h1 class="main-title">{{@site.title}}</h1>
            {{/if}}
        </div>
        <div class="navigation">
            {{navigation}}
        </div>
        <div class="content">
            {{{body}}}
        </div>
        <div class="footer">
            <div class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
            <nav class="site-footer-nav"> 
                {{navigation type="secondary"}}
            </nav>
            <div class="powered-by"><a href="https://agon-intelligence.com/" target="_blank" rel="noopener">Powered by Agon Intelligence</a></div>
        </div> 
    </div> 
</body>